/* Réduire l’espace après les sous-titres dans les pages projets */
body:not(.home) .prose h3 {
  margin-bottom: 0 rem !important;
}

/* Supprimer l’espace au-dessus de l’image */
body:not(.home) .prose figure,
body:not(.home) .prose img.medium-zoom-image {
  margin-top: 0 !important;
}

/* Supprimer l’espace inutile après les figures */
body:not(.home) .prose figure,
body:not(.home) .prose img.medium-zoom-image {
  margin-bottom: 0.25rem !important;
}



